/* Error: Undefined mixin.
 *    ,
 * 8  | /     @include minW(992px) {
 * 9  | |       height: 100vh;
 * 10 | |       position: relative;
 * 11 | |       max-height: 980px;
 * 12 | |       min-height: 650px;
 * 13 | | 
 * 14 | |       .open__content {
 * 15 | |         z-index: 2;
 * 16 | |         position: relative;
 * 17 | |         top: 50%;
 * 18 | |         @include transform(translateY(-50%));
 * 19 | | 
 * 20 | |         .container {
 * 21 | |           h1 {
 * 22 | |             max-width: 55%;
 * 23 | |             position: relative;
 * 24 | |             z-index: 2;
 * 25 | |           }
 * 26 | | 
 * 27 | |           p {
 * 28 | |             max-width: 50%;
 * 29 | |             margin: 10px 0 42px 0;
 * 30 | |             position: relative;
 * 31 | |             z-index: 2;
 * 32 | |           }
 * 33 | |         }
 * 34 | |       }
 * 35 | \     }
 *    '
 *   scss/pages/_index.scss 8:5  @use
 *   scss/style.scss 14:1        root stylesheet */

body::before {
  font-family: "Source Code Pro", "SF Mono", Monaco, Inconsolata, "Fira Mono",
      "Droid Sans Mono", monospace, monospace;
  white-space: pre;
  display: block;
  padding: 1em;
  margin-bottom: 1em;
  border-bottom: 2px solid black;
  content: "Error: Undefined mixin.\a    \2577 \a 8  \2502  \250c      @include minW(992px) {\a 9  \2502  \2502        height: 100vh;\a 10 \2502  \2502        position: relative;\a 11 \2502  \2502        max-height: 980px;\a 12 \2502  \2502        min-height: 650px;\a 13 \2502  \2502  \a 14 \2502  \2502        .open__content {\a 15 \2502  \2502          z-index: 2;\a 16 \2502  \2502          position: relative;\a 17 \2502  \2502          top: 50%;\a 18 \2502  \2502          @include transform(translateY(-50%));\a 19 \2502  \2502  \a 20 \2502  \2502          .container {\a 21 \2502  \2502            h1 {\a 22 \2502  \2502              max-width: 55%;\a 23 \2502  \2502              position: relative;\a 24 \2502  \2502              z-index: 2;\a 25 \2502  \2502            }\a 26 \2502  \2502  \a 27 \2502  \2502            p {\a 28 \2502  \2502              max-width: 50%;\a 29 \2502  \2502              margin: 10px 0 42px 0;\a 30 \2502  \2502              position: relative;\a 31 \2502  \2502              z-index: 2;\a 32 \2502  \2502            }\a 33 \2502  \2502          }\a 34 \2502  \2502        }\a 35 \2502  \2514      }\a    \2575 \a   scss/pages/_index.scss 8:5  @use\a   scss/style.scss 14:1        root stylesheet";
}
