/* How do I make the events page have the months on the top and the info below that. Only three in a row */
/* Core variables and mixins*/
* {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
  box-sizing: border-box;

}

/* Root Variables */
:root {
  /* MaxWidth Of Page, Container-Fluid, Container, Gap, Border */
  --max-width-container: 2560px;
  --max-width-container-fluid: 1920px;
  --max-width-container: 1198px;
  --gap: 26px;
  --border: 40px;
  /* Color Variables */
  --main-cl: #f5f5dc;
  --green-cl: chartreuse; 
  --dark-brown-cl: #412202;
  --white-cl: #fff;
  --black-cl: #000;
}

/* Events Page CSS */
.events_title{
    height: 6vw;
    width: 100vw;
    background-image: url(https://streamline.imgix.net/e4ad289e-3f14-4a0b-bf75-dd4a268086a2/6f21ef4d-4139-4a04-a9ce-f7b7c178de55/matt-artz-nTRDnDdDYk8-unsplash.jpg?ixlib=rb-1.1.0&w=2000&h=2000&fit=max&or=0&s=5a966d992fff83f63de4884bef212471); 
    background-color: var(--green-cl);
    
  background-position: center; /* Center the image */
  background-repeat: no-repeat; /* Do not repeat the image */
  background-size: cover; /* Resize the background image to cover the entire container */
    text-align: center;
    color: var(--white-cl);
}
.navi_events{
    font-size: 30px;
    color: black;
    height: 6vw;
    width: 100vw;
    background-color: var(--dark-brown-cl);
    display: inline-block;
    text-align: center;

}
.event_calendar{
  width: 100vw;
  background-color: dodgerblue;
  padding: 10px;
}
.event_calendar .title_events {
  height: 5vh;
  width: 100vw;
  text-align: center;
  padding-bottom: 20px;
  display: block;  
  background-color: var(--white-cl);
  border: 1px solid black;
  padding: 10px;
  font-size: 30px;
  text-align: center;
}
.event_calendar .calendar {
  margin-top: 29px;
  grid-template-columns: 1fr 1fr 1fr;
  display: grid;
  gap: var(--gap);
}
.calendar .calendar-item {
  border-radius: 40px;
  padding: 58px 32px;
}
.calendar .calendar-item .name {
  text-transform: uppercase;
  font-size: var(--fs-lb);
  line-height: var(--lh-lb);
  letter-spacing: var(--ls-lb);
}