/* Index/Home Page CSS */
.homepage {
  overflow-x: hidden;
  min-width: 320px;
}
@media (min-width: 992px) {
  .homepage .open {
    height: 100vh;
    position: relative;
    max-height: 980px;
    min-height: 650px;
  }
  .homepage .open .open__pic {
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    top: 10%;
    left: 25%;
    z-index: 1;
    transform: translateY(-50%);
  }
  .homepage .open .open__pic .planetearth {
    position: absolute;
    width: 50vw;
  }
  .homepage .open .open__pic .planetearth img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
  .homepage .open .open__pic .planetbg {
    z-index: 0;
    position: absolute;
    height: 100vh;
    width: 100%;
    background: radial-gradient(var(--accent) 0%, var(--main-cl) 60%);
    opacity: 0.6;
  }
  .homepage .open .open__content {
    z-index: 2;
    position: relative;
    top: 50%;
    transform: translateY(-50%);
  }
  .homepage .open .open__content .container h1 {
    max-width: 55%;
    position: relative;
    z-index: 2;
  }
  .homepage .open .open__content .container p {
    max-width: 50%;
    margin: 10px 0 42px 0;
    position: relative;
    z-index: 2;
  }
}
@media (max-width: 991.98px) {
  .homepage .open {
    padding-top: var(--height-header);
    position: relative;
    overflow: hidden;
  }
  .homepage .open__blurbg {
    height: 100vh;
    width: 100vw;
    display: flex;
    position: absolute;
    background: radial-gradient(circle at 50%, var(--accent) 0%, var(--main-cl) 60%);
    opacity: 0.5;
  }
  .homepage .open__content {
    margin-top: 45px;
  }
  .homepage .open__content h1,
  .homepage .open__content p {
    max-width: 100%;
  }
  .homepage .open__content p {
    margin: 16px 0 33px 0;
  }
  .homepage .open__pic {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 32px;
  }
  .homepage .open__pic .planetearth img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
  .homepage .open__pic .planetbg {
    display: none;
  }
}
.homepage .sponsor .container p {
  text-align: center;
  margin-bottom: 35px;
}
.homepage .sponsor .container .bottom-company {
  z-index: 1;
  display: flex;
  align-items: center;
  justify-content: space-between;
  max-width: 100%;
  flex-wrap: wrap;
}
@media (max-width: 1069px) {
  .homepage .sponsor .container .bottom-company {
    justify-content: center;
    gap: 10px;
    flex-wrap: wrap;
  }
}
@media (max-width: 991.98px) {
  .homepage .sponsor .container .bottom-company {
    gap: 40px;
  }
}
@media (max-width: 439px) {
  .homepage .sponsor .container .bottom-company img {
    display: flex;
    align-items: center;
    justify-content: center;
    width: calc(50% - 20px);
  }
}
.homepage .portfolio {
  position: relative;
  display: flex;
}
.homepage .portfolio .background {
  height: 100%;
  width: 100%;
  background: radial-gradient(circle at 50%, var(--accent) 0%, var(--main-cl) 60%);
  opacity: 0.5;
  position: absolute;
  z-index: 0;
}
@media (max-width: 991.98px) {
  .homepage .portfolio .background {
    width: 100%;
    height: 95%;
    object-fit: cover;
  }
}
.homepage .portfolio .container {
  z-index: 1;
}
.homepage .portfolio .container table {
  color: var(--white-cl);
  font-family: dsr;
  font-size: var(--fs-body1);
  line-height: var(--lh-body1);
  letter-spacing: var(--ls-body1);
  width: 75vw;
  border-spacing: 50px 1rem;
  border-collapse: separate;
}
.homepage .portfolio .container .textbox {
  margin-bottom: 80px;
}
@media (max-width: 767.98px) {
  .homepage .portfolio .container .textbox {
    margin-bottom: 16px;
  }
}
.homepage .portfolio .container .portfolio__list {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: var(--gap);
}
.homepage .portfolio .container .portfolio__list-item {
  aspect-ratio: 325/295;
  display: grid;
  height: 100%;
  width: 100%;
  background: var(--dark-blue);
  border-radius: 40px;
  padding: 48px 23px;
}
@media (max-width: 1199.98px) {
  .homepage .portfolio .container .portfolio__list-item {
    aspect-ratio: 325/400;
  }
}
.homepage .portfolio .container .portfolio__list-item .heading.__label {
  text-transform: uppercase;
  margin: 20px 0 7px 0;
}
.homepage .portfolio .container .portfolio__list-item:nth-child(3) {
  text-align: center;
  padding: 44px 33px 0px 33px;
  aspect-ratio: 484/622;
  max-height: 100%;
  overflow: hidden;
  grid-area: 1/2/3/3;
  background: var(--main-cl);
}
@media (max-width: 1199.98px) {
  .homepage .portfolio .container .portfolio__list-item:nth-child(3) {
    justify-content: space-evenly;
    aspect-ratio: 358/622;
  }
}
.homepage .portfolio .container .portfolio__list-item:nth-child(3) p {
  margin-top: 22px;
}
@media (max-width: 991.98px) {
  .homepage .portfolio .container .portfolio__list {
    display: flex;
    flex-direction: column;
    width: 70%;
    margin: auto;
  }
}
@media (max-width: 767.98px) {
  .homepage .portfolio .container .portfolio__list {
    width: 70%;
  }
}
@media (max-width: 650px) {
  .homepage .portfolio .container .portfolio__list {
    width: 100%;
  }
}
.homepage .portfolio .container .btnmain {
  margin-top: 48px;
}
.homepage .photos {
  position: relative;
}
.homepage .photos .background {
  width: 100%;
  background: radial-gradient(circle at 50%, var(--accent) 0%, var(--main-cl) 60%);
  opacity: 0.5;
  position: absolute;
}
@media (max-width: 991.98px) {
  .homepage .photos .background {
    width: 100%;
    height: 100%;
    object-fit: cover;
    top: 0;
    right: 0;
  }
}
@media (max-width: 991.98px) {
  .homepage .photos .textbox .btnmain {
    margin-top: 22px;
    width: 80%;
    margin-top: 16px;
  }
}
@media (max-width: 991.98px) and (max-width: 767.98px) {
  .homepage .photos .textbox .btnmain {
    width: 100%;
  }
}
.photos__slider {
  margin-top: 33px;
  width: 100%;
  overflow: hidden;
}
.photos__slider .flickity-page-dots {
  margin-top: 40px;
}
.photos__slider .flickity-page-dots .dot {
  width: 14px;
  height: 14px;
  border-radius: 100%;
  background-color: var(--white-cl);
  opacity: 0.4;
  padding: 0;
  margin: 5px;
}
.photos__slider .flickity-page-dots .dot.is-selected {
  background-color: var(--white-cl);
  opacity: 1;
}
.photos__slider-item {
  background: var(--dark-blue);
  padding: 65px 50px;
  width: calc(var(--max-width-container) / 2 - var(--gap) / 2 - var(--gap));
  min-width: 335px;
  margin: 0 calc(var(--gap) / 2);
  border-radius: 40px;
  opacity: 0.3;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  transition: opacity 1s ease-in-out;
}
.homepage .photos__slider-item.is-selected {
  opacity: 1;
}
@media (max-width: 991.98px) {
  .homepage .photos__slider-item {
    width: calc(100vw - var(--gap) * 2 - 23px);
    margin: 0 calc(var(--gap) / 2);
  }
  .homepage .photos__slider-item p {
    height: auto;
  }
}
.getintouch {
  overflow-x: hidden;
  min-width: 320px;
}
.getintouch h1 {
  padding-bottom: 52px;
}
.getintouch__content {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  gap: var(--gap);
}
.getintouch__content-form {
  padding-right: 38px;
  grid-column: 1/9;
}
.getintouch__content-form .form-row {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 25px;
  margin-bottom: 32px;
}
.getintouch__content-form .form-row .form-group {
  position: relative;
}
.getintouch__content-form .form-row .form-group input {
  width: 100%;
  color: var(--white-cl);
  font-size: var(--fs-body1);
  line-height: var(--lh-body1);
  letter-spacing: var(--ls-body1);
  font-family: dsr;
  border-radius: 100px;
  margin-top: 12px;
  padding: 0 25px;
  height: 68px;
  background: var(--accent);
}
.getintouch__content-form .form-row .form-group input.__error {
  border: 1.5px solid red;
}
.getintouch__content-form .form-row .form-group input:focus {
  border: 1px solid var(--main-cl);
  outline: none;
}
.getintouch__content-form .form-row .form-group .error {
  margin-top: 3px;
  position: absolute;
  left: 0;
  font-size: var(--fs-body1);
  font-family: dsr;
  line-height: var(--lh-body1);
  letter-spacing: var(--ls-body1);
  color: red;
}
@media (max-width: 767.98px) {
  .getintouch__content-form .form-row .form-group .error {
    left: initial;
    right: 0;
  }
}
.getintouch__content-form .form-row:nth-child(3) {
  display: grid;
  grid-template-columns: 1fr;
  margin-bottom: 52px;
}
.getintouch__content-form .form-row:nth-child(3) textarea {
  resize: none;
  width: 100%;
  color: var(--white-cl);
  font-size: var(--fs-body1);
  line-height: var(--lh-body1);
  letter-spacing: var(--ls-body1);
  font-family: dsr;
  border-radius: 14px;
  margin-top: 12px;
  padding: 20.5px 25px;
  height: 162px;
  border: 1px solid var(--main-cl);
  background: var(--accent);
}
.getintouch__content-form .form-row:nth-child(3) textarea.__error {
  border: 1.5px solid red;
}
.getintouch__content-form .form-row:nth-child(3) textarea:focus {
  border: 1px solid var(--main-cl);
  outline: none;
}
.getintouch__content-mail {
  grid-column: 0.6923076923;
}
@media (max-width: 991.98px) {
  .getintouch__content {
    display: block;
  }
  .getintouch__content-mail {
    margin-top: 45px;
  }
}
@media (max-width: 767.98px) {
  .getintouch__content-form {
    padding: 0;
  }
  .getintouch__content-form .form-row {
    display: block;
    margin-bottom: 0px;
  }
  .getintouch__content-form .form-row .form-group {
    margin-top: 24px;
  }
}

.faq .container .heading.__h1 {
  text-transform: uppercase;
  padding-bottom: 80px;
  text-align: center;
}
.faq .container .faq__content {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
}
@media (max-width: 991.98px) {
  .faq .container .faq__content {
    display: block;
    width: 100%;
  }
}
.faq .container .faq__content-item {
  grid-column: 3/11;
  border-bottom: 1px solid var(--grey-light-cl);
  padding: 32px 0;
}
.faq .container .faq__content-item .accordion {
  color: var(--white-cl);
  padding-right: 40px;
  cursor: pointer;
  width: 100%;
  outline: none;
  text-align: left;
  transition: var(--duration);
  background: transparent;
  font-family: dsb;
  font-size: var(--fs-faq);
  letter-spacing: var(--ls-faq);
  line-height: var(--lh-faq);
  position: relative;
}
.faq .container .faq__content-item .accordion.active::before, .faq .container .faq__content-item .accordion::before {
  content: "";
  height: 2px;
  width: 27px;
  background: var(--white-cl);
  display: block;
  position: absolute;
  top: 50%;
  transition: var(--duration);
  right: 0;
}
.faq .container .faq__content-item .accordion:after {
  content: "";
  height: 27px;
  width: 2px;
  transform: rotate(0deg) translate(-12.5px, -12.5px);
  background: var(--white-cl);
  display: block;
  position: absolute;
  top: 50%;
  transition: var(--duration);
  right: 0;
}
.faq .container .faq__content-item .accordion.active::after {
  display: none;
}
.faq .container .faq__content-item .panel {
  margin-top: 16px;
  background-color: transparent;
  max-height: 0;
  overflow: hidden;
  transition: 0.2s ease-out;
}
.break{
  height:9px;
  width:100vw;
  background-color: var(--main-cl);
}