.nav_rates{
    background-color: #6F875A;
  overflow: hidden;
}

.nav_rates a{
    float: left;
  color: #33261d;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}