:root{
    --height-header: 100px;
    --main-cl: #234A07;
}

.nav_rates {
    z-index: 300;
  top: var(--height-header);
  width: 100%;
  height: calc(100vh - var(--height-header));
  position: fixed;
  left: 0;
  background: var(--main-cl);
  display: flex;
  align-items: center;
  justify-content: center;
  opacity: 0;
  transition: 0.3s;
}

