/* Error: Undefined mixin.
 *    ,
 * 41 | /   @include mixins.m {
 * 42 | |     margin: 50px 10px 50px 10px;
 * 43 | |     text-align: center;
 * 44 | |     justify-content: center;
 * 45 | |     font-weight: bold;
 * 46 | \   }
 *    '
 *   scss/pages/_contact.scss 41:3  @use
 *   scss/styles.scss 19:1          root stylesheet */

body::before {
  font-family: "Source Code Pro", "SF Mono", Monaco, Inconsolata, "Fira Mono",
      "Droid Sans Mono", monospace, monospace;
  white-space: pre;
  display: block;
  padding: 1em;
  margin-bottom: 1em;
  border-bottom: 2px solid black;
  content: "Error: Undefined mixin.\a    \2577 \a 41 \2502  \250c    @include mixins.m {\a 42 \2502  \2502      margin: 50px 10px 50px 10px;\a 43 \2502  \2502      text-align: center;\a 44 \2502  \2502      justify-content: center;\a 45 \2502  \2502      font-weight: bold;\a 46 \2502  \2514    }\a    \2575 \a   scss/pages/_contact.scss 41:3  @use\a   scss/styles.scss 19:1          root stylesheet";
}
