/* Error: expected "{".
 *    ,
 * 66 |           font-size: 60px;
 *    |                          ^
 *    '
 *   scss/pages/_index.scss 66:26  @use
 *   scss/styles.scss 15:1         root stylesheet */

body::before {
  font-family: "Source Code Pro", "SF Mono", Monaco, Inconsolata, "Fira Mono",
      "Droid Sans Mono", monospace, monospace;
  white-space: pre;
  display: block;
  padding: 1em;
  margin-bottom: 1em;
  border-bottom: 2px solid black;
  content: 'Error: expected "{".\a    \2577 \a 66 \2502            font-size: 60px;\a    \2502                           ^\a    \2575 \a   scss/pages/_index.scss 66:26  @use\a   scss/styles.scss 15:1         root stylesheet';
}
