/* Error: expected "{".
 *     ,
 * 172 |     class= "option"
 *     |                    ^
 *     '
 *   scss/pages/_format.scss 172:20  @use
 *   scss/styles.scss 21:1           root stylesheet */

body::before {
  font-family: "Source Code Pro", "SF Mono", Monaco, Inconsolata, "Fira Mono",
      "Droid Sans Mono", monospace, monospace;
  white-space: pre;
  display: block;
  padding: 1em;
  margin-bottom: 1em;
  border-bottom: 2px solid black;
  content: 'Error: expected "{".\a     \2577 \a 172 \2502      class= "option"\a     \2502                     ^\a     \2575 \a   scss/pages/_format.scss 172:20  @use\a   scss/styles.scss 21:1           root stylesheet';
}
