.events_title{
    height: 6vw;
    width: 100vw;
    background-color: green;
    text-align: center;
}
.navi_events{
    font-size: 30px;
    color: black;
    height: 6vw;
    width: 100vw;
    background-color: green;
    display: inline-block;

}
.event{
    background-color: brown;
}