.events_title{
    height: 6vw;
    width: 100vw;
    background-image: url("images/Logos.png");
    background-color: chartreuse;
    
  background-position: center; /* Center the image */
  background-repeat: no-repeat; /* Do not repeat the image */
  background-size: cover; /* Resize the background image to cover the entire container */
    text-align: center;
}
.navi_events{
    font-size: 30px;
    color: black;
    height: 6vw;
    width: 100vw;
    background-color: green;
    display: inline-block;
    text-align: center;

}
.event{
    background-color: brown;
}