@use "./mixins";

.photos {
    &__slider {
      margin-top: 33px;
      width: 100%;
      overflow: hidden;

      .flickity-page-dots {
        margin-top: 40px;
        .dot {
          @include mixins.size(14px, 14px, true);
          background-color: var(--white-cl);
          opacity: 0.4;
          padding: 0;
          margin: 5px;
          &.is-selected {
            background-color: var(--white-cl);
            opacity: 1;
          }
        }
      }

      &-item {
        background: var(--dark-blue);
        padding: 65px 50px;
        width: calc(var(--max-width-container) / 2 - (var(--gap) / 2) - var(--gap));
        min-width: 335px;
        margin: 0 calc(var(--gap) / 2);
        border-radius: 40px;
        opacity: 0.3;
        display: flex;
        justify-content: space-between;
        flex-direction: column;
        transition: opacity 1s ease-in-out;
        &.is-selected {
          opacity: 1;
        }
        @include mixins.sm {
          width: calc(100vw - var(--gap) * 2 - 23px);
          margin: 0 calc(var(--gap) / 2);

          p {
            height: auto;
          }
        }
      }
    }
  }