@use "./mixins";

// CSS Img, Button, Title, Icon, Elements
img {
  max-width: 100%;
  height: auto;
  user-select: none;
  display: block;
  outline: 0;
  object-fit: contain;
  z-index: 1;

  &.__center {
    margin: 0 auto;
    display: block;
  }
}

a {
  text-decoration: none;
  outline: 0;
}

.textbody {
  color: var(--black-cl);

  &.__bd1 {
    font-size: var(--fs-body1);
    line-height: var(--lh-body1);
    letter-spacing: var(--ls-body1);
  }

  &.__bd2 {
    font-size: var(--fs-body2);
    line-height: var(--lh-body2);
    letter-spacing: var(--ls-body2);
  }
}

.btnmain {
  font-size: var(--fs-txtbtn);
  letter-spacing: var(--ls-txtbtn);
  line-height: var(--lh-txtbtn);

  height: var(--height-button);
  padding: 0 32px;

  @include mixins.mid(true);

  text-transform: uppercase;
  @include mixins.transition(var(--duration));
  cursor: pointer;
  width: max-content;
  background: var(--main-cl);
  color: var(--white-cl);
  border-radius: 80px;
  white-space: nowrap;

  @include mixins.xxxs {
    padding: 0 15px;
    width: 100%;
  }

  &:hover {
    background: var(--white-cl);
    color: var(--dark-cl);
  }

  &.__grey {
    background: var(--grey-dark-cl);
    color: var(--white-cl);
  }

  &.__grey:hover {
    background: var(--white-cl);
    color: var(--dark-cl);
  }

  &.__white {
    background: var(--white-cl);
    color: var(--main-cl);

    @include mixins.sm {
      width: 80%;
      margin-top: 16px;

      @include mixins.xs {
        width: 100%;
      }
    }
  }

  &.__white:hover {
    background: var(--middle-cl);
    color: var(--white-cl);
  }

  &.__btnheader {
    height: var(--height-button-header);
  }

  &.__center {
    margin: auto;
  }
}

.tag {
  font-size: var(--fs-txttag);
  letter-spacing: var(--ls-txttag);
  line-height: var(--lh-txttag);
  height: 36px;
  padding: 0 14.36px;
  z-index: 1;
  text-transform: uppercase;
  width: max-content;
  background: var(--main-cl);
  color: var(--white-cl);
  border-radius: 80px;
}

.btnpackage {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 28px;

  @include mixins.sm {
    justify-content: center;
    flex-direction: column;
  }


  @include mixins.xs {
    justify-content: center;
    flex-direction: column;

    .btnmain {
      width: 75%;
    }
  }
}

// Heading
.heading {
  color: var(--white-cl);

  &.__h1 {
    font-size: var(--fs-h1);
    line-height: var(--lh-h1);
    letter-spacing: var(--ls-h1);
  }

  &.__h2 {
    font-size: var(--fs-h2);
    line-height: var(--lh-h2);
    letter-spacing: var(--ls-h2);
  }

  &.__h3 {
    font-size: var(--fs-h3);
    line-height: var(--lh-h3);
    letter-spacing: normal;
  }

  &.__label {
    text-transform: uppercase;
    font-size: var(--fs-lb);
    line-height: var(--lh-lb);
    letter-spacing: var(--ls-lb);
  }

  &.__spec {
    font-size: var(--fs-spec);
    line-height: var(--lh-spec);
    letter-spacing: var(--ls-spec);
    text-transform: uppercase;
  }

  &.__h4 {
    font-size: var(--fs-name);
    letter-spacing: var(--ls-name);
    line-height: var(--lh-name);
  }

  &.__yr {
    font-size: var(--fs-yr);
    line-height: var(--lh-yr);
    letter-spacing: var(--ls-yr);
  }
}

h1 {
  color: var(--white-cl);
  font-size: var(--fs-h1);
  line-height: var(--lh-h1);
  letter-spacing: var(--ls-h1);
}

h2 {
  color: var(--white-cl);
  font-size: var(--fs-h2);
  line-height: var(--lh-h2);
  letter-spacing: var(--ls-h2);
}

h3 {
  color: var(--black-cl);
  font-size: var(--fs-h3);
  line-height: var(--lh-h3);
  letter-spacing: normal;
}

p {
  color: var(--black-cl);
  font-size: var(--fs-body1);
  line-height: var(--lh-body1);
  letter-spacing: var(--ls-body1);
}

// Textbox
.textbox {
  &.__align-left {
    p {
      margin-top: 19px;

      @include mixins.xxs {
        margin-top: 16px;
      }
    }
  }

  &.__textcenter {
    text-align: center;
    max-width: 55%;
    margin: auto;

    p {
      margin-top: 15px;
    }

    @include mixins.xs {
      max-width: 100%;

      &.__title {
        text-align: left;
      }
    }
  }

  &.__align-center {
    display: flex;
    align-items: center;
    justify-content: space-between;

    @include mixins.sm {
      display: initial;

      .heading.__h2 {
        white-space: initial;
      }
    }

    .heading.__h2 {
      white-space: nowrap;
    }

    p {
      max-width: 40%;

      @include mixins.sm {
        max-width: 100%;
        margin-top: 16px;
      }
    }
  }
}

// Icon
.icon {
  width: 68px;
  height: 68px;
  background: var(--main-cl);
  position: relative;
  border-radius: 20px;
  flex-shrink: 0;

  img {
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    position: absolute;
  }

  &.__small {
    width: 46px;
    height: 46px;
    border-radius: 13px;
  }
}

.paging {
  height: 40px;
  display: flex;
  justify-content: space-between;
  margin: auto;
  max-width: max-content;
  align-items: center;
  position: relative;
  gap: 16px;

  li {
    a {
      display: flex;
      align-items: center;
      justify-content: center;
      color: var(--white-cl);
      font-size: var(--fs-body1);
      line-height: var(--lh-body1);
      letter-spacing: var(--ls-body1);
    }

    .number {
      padding: 0 8px;

      &:hover,
      &.__active {
        color: var(--main-cl);
      }
    }
  }
}

.listicons {
  display: flex;
  flex-direction: column;
  justify-self: flex-start;
  gap: 17px;
  margin-top: 39px;

  @include mixins.xxs {
    margin-top: 16px;
  }

  &__item {
    display: flex;
    align-items: center;
    flex-direction: row;
    gap: 17px;
  }
}

.title {
  font-size: var(--fs-h1);
  line-height: var(--lh-h1);
  letter-spacing: var(--ls-h1);
  width: 100%;
  text-align: center;
  padding-bottom: 20px;
  display: block;
  color: var(--white-cl);
  text-align: center;
  margin-top: 50px;
}

.break {
  height: 9px;
  width: 100vw;
  background-color: var(--white-cl);
  margin: 45px 0p;
}