@use "./mixins";

.footer {
  padding: 56px 0 32px 0;
  background: var(--accent);

  &__top {
    display: flex;
    align-items: center;
    justify-content: space-between;

    &-social {
      display: flex;
      align-items: center;
      justify-content: space-between;
      gap: 10px;

      a {
        background: var(--social-cl);
        position: relative;
        @include mixins.size(36px, 36px, true);
        overflow: hidden;

        img {
          @include mixins.mid(false);
          position: absolute;
        }
      }
    }

    &-logo {
      width: 150px;
      height: auto;
    }
  }

  &__middle {
    grid-template-columns: repeat(12, 1fr);
    display: grid;
    gap: var(--gap);
    padding: 92px 0 125px 0;

    &-menu {
      grid-column: 1/4;

      .menutitle {
        display: block;
        position: relative;
        color: var(--black-cl);

        &::after {
          content: "";
          width: 100%;
          height: 1px;
          display: block;
          margin-top: 31px;
          background: var(--black-cl);
          position: absolute;
        }
      }

      .menu__list {
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 20px;
        margin-top: 58px;

        &-left,
        &-right {
          display: flex;
          flex-direction: column;

          a {
            color: var(--black-cl);
            text-transform: uppercase;
            padding: 9px 0;
            font-size: var(--fs-txtmenu);
            line-height: var(--lh-txtmenu);
            letter-spacing: var(--ls-txtmenu);
            @include mixins.transition(var(--duration));

            @include mixins.sm {
              font-size: var(--fs-txtmenu-sm);
              line-height: var(--lh-txtmenu-sm);
              letter-spacing: var(--ls-txtmenu-sm);
            }
          }
        }
      }
    }

    @include mixins.sm {
      display: block;
      padding: 45px 0 59px 0;
    }
  }

  &__bottom {
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: relative;

    &::before {
      content: "";
      width: 100%;
      height: 1px;
      display: block;
      clear: both;
      top: 0;
      background: var(--grey-footer);
      position: absolute;
    }

    &-btnup {
      background: var(--black-cl);
      @include mixins.size(50px, 50px, true);
      position: fixed;
      cursor: pointer;
      bottom: 16px;
      right: clamp(calc(var(--gap) + 5px), calc(((100vw - var(--max-width-container)) / 2) + 18px), calc((100vw - (var(--max-width-container) / 2))));
      z-index: 100;

      img {
        @include mixins.mid(false);
        position: absolute;
      }
    }
  }

  @include mixins.sm {
    padding: 40px 0 57px 0;

    .container {
      .footer__top {
        margin-bottom: 50px;
        display: block;

        &-logo {
          width: 150px;
          height: auto;
          margin-right: 37px;
          position: relative;
          display: flex;
          align-items: center;
          justify-content: center;

          @include mixins.sm {
            width: 150px;
            height: auto;
          }
        }

        &-social {
          margin-top: 24px;
          justify-content: center;

          a {
            background: var(--social-cl);
            position: relative;
            @include mixins.size(36px, 36px, true);
            overflow: hidden;

            img {
              @include mixins.mid(false);
              position: absolute;
            }
          }
        }
      }

      .footer__bottom {
        width: 100%;
        justify-content: center;
        align-items: center;
      }
    }
  }
}