@use "./mixins";

html {
  font-size: 62.5%; // 1rem = 10px
}

body {
  background: var(--main-cl);
  width: 100%;
  max-width: var(--max-width-page);
  margin: auto;
  scroll-behavior: smooth;
  font-size: var(--fs-body);
  line-height: var(--lh-body);

  &.__disable-scroll {
    height: 100vh;
    overflow: hidden;
  }

  .container-fluid, .container {
    width: 100%;
    max-width: var(--max-width-container-fluid);
    padding-right: var(--gap);
    padding-left: var(--gap);
    margin-right: auto;
    margin-left: auto;
    position: relative;
  }

  @include mixins.xs {

    .container-fluid,
    .container {
      padding-right: calc(var(--gap) + 6px);
      padding-left: calc(var(--gap) + 6px);
    }
  }

  .main {
    position: relative;
  }
}