@use "./mixins";

:root {
  // MaxWidth Of Page, Container-Fluid, Container, Gutter
  --max-width-page: 2560px;
  --max-width-container-fluid: 1920px;
  --max-width-container: 1198px;
  --gap: 26px;
  --border: 40px;
  --min-width: 340px;

  // Color Variables
  --main-cl: #234A07;
  --middle-cl: #6F875A;
  --dark-cl: #412202;
  --accent: #B1B3A8;
  --white-cl: #f5f5dc;
  --black-cl: #141414;
  --grey-dark-cl: rgba(255, 255, 255, 0.1);
  --grey-light-cl: rgba(255, 255, 255, 0.2);
  --social-cl: #101010;
  --grey-footer: #252525;

  // Sizes
  --fs-h1: 6.6rem;
  --lh-h1: 8rem;
  --ls-h1: -1px;

  --fs-h2: 4.2rem;
  --lh-h2: 5.5rem;
  --ls-h2: 0px;

  // 18px / 26px / 0.9px Label
  --fs-lb: 1.8rem;
  --lh-lb: 2.6rem;
  --ls-lb: 0.9px;

  // 16px / 16px / 1.6px Text Button
  --fs-txtbtn: 1.6rem;
  --lh-txtbtn: 1.6rem;
  --ls-txtbtn: 1.6px;

  // 18px / 32px / 0px Body
  --fs-body1: 1.8rem;
  --lh-body1: 3.2rem;
  --ls-body1: 0px;

  // 16px / 26px / 0px Body2
  --fs-body2: 1.6rem;
  --lh-body2: 2.6rem;
  --ls-body2: 0px;

  // 18px / 32px / 0px List Item
  --fs-li: 1.8rem;
  --lh-li: 3.2rem;
  --ls-li: 0px;

  // 14px / 16px / 1.4px Text Menu
  --fs-txtmenu: 1.4rem;
  --lh-txtmenu: 1.6rem;
  --ls-txtmenu: 1.4px;

  // 22px / 31px Heading 3
  --fs-h3: 2.2rem;
  --lf-h3: 3.1rem;

  // 14px / 18px / 0.7px Text Tag
  --fs-txttag: 1.4rem;
  --lh-txttag: 1.8rem;
  --ls-txttag: 0.7px;

  //Special (Other Label)
  --fs-spec: 2rem;
  --ls-spec: 1px;
  --lh-spec: 2.6rem;

  // 28px / 30px / 0.28px
  --fs-yr: 2.8rem;
  --lh-yr: 3rem;
  --ls-yr: 0.28px;

  // 28px / 30px / 0.28px FAQ
  --fs-faq: 2.8rem;
  --lh-faq: 3rem;
  --ls-faq: 0.28px;

  // 30px / 30px / 1.4px Nav Menu
  --fs-navmenu: 3rem;
  --ls-navmenu: 3rem;
  --ls-navmenu: 1.4px;

  // General Variables
  --height-header: 100px;
  --height-button: 70px;
  --height-button-header: 56px;
  --pd-section: 120px;

  // Timing Transition
  --duration: 0.4s;

  // Responsive
  @include mixins.md {
    --max-width-container: 1140px;
  }

  @include mixins.sm {
    --max-width-container: 960px;
  }

  @include mixins.xs {
    --max-width-container: 100%;
    --gap: 16px;

    // Fontsize - Lineheight Variable
    // 38px / 46px / -1px
    --fs-h1: 3.6rem;
    --lh-h1: 4.6rem;
    --ls-h1: -1px;

    // 28px / 36px / 0px
    --fs-h2: 2.8rem;
    --lh-h2: 3.6rem;
    --ls-h2: 0px;

    // 16px / 16px / 1.6px
    --fs-txtbtn: 1.6rem;
    --lh-txtbtn: 1.6rem;
    --ls-txtbtn: 1.6px;

    // 16px / 26px / 0px
    --fs-body1: 1.6rem;
    --lh-body1: 2.6rem;
    --ls-body1: 0px;

    // 16px / 26px / 0px
    --fs-body2: 1.6rem;
    --lh-body2: 2.6rem;
    --ls-body2: 0px;

    // 32px / 100% / 1.4px
    --fs-txtmenu: 3.2rem;
    --lh-txtmenu: 100%;
    --ls-txtmenu: 1.4px;

    // 14px/16px,0.24px
    --fs-txtmenu-sm: 1.4rem;
    --lh-txtmenu-sm: 1.6rem;
    --ls-txtmenu-sm: 0.24px;

    // 28px/30px/0.25px
    --fs-yr: 2.8rem;
    --lh-yr: 3rem;
    --ls-yr: 0.25px;

    // 18px/26px/0.28px
    --fs-faq: 1.8rem;
    --lh-faq: 2.6rem;
    --ls-faq: 0.28px;
  }

  @include mixins.xxs {
    --max-width-container: 100%;
  }
}