.homepage {
    overflow-x: hidden;
    min-width: 320px;
  
    .hero {
      @include minW(992px) {
        height: 100vh;
        position: relative;
        max-height: 980px;
        min-height: 650px;
        .hero__pic {
          display: flex;
          align-items: center;
          justify-content: center;
          position: relative;
          top: 10%;
          left: 25%;
          z-index: 1;
          @include transform(translateY(-50%));
          .planetearth {
            position: absolute;
            width: 50vw;
            img {
              @include midimg;
            }
          }
          .planetbg {
            z-index: 0;
            position: absolute;
            height: 100vh;
            width: 100%;
            background: radial-gradient(var(--gold) 0%, var(--main-cl) 60%);
            opacity: 0.6;
          }
        }
        .hero__content {
          z-index: 2;
          position: relative;
          top: 50%;
          @include transform(translateY(-50%));
          .container {
            h1 {
              max-width: 55%;
              position: relative;
              z-index: 2;
            }
            p {
              max-width: 50%;
              margin: 10px 0 42px 0;
              position: relative;
              z-index: 2;
            }
          }
        }
      }
  
      @include sm {
        padding-top: var(--height-header);
        position: relative;
        overflow: hidden;
        &__blurbg {
          height: 100vh;
          width: 100vw;
          display: flex;
          position: absolute;
          background: radial-gradient(circle at 50%, var(--gold) 0%, var(--main-cl) 60%);
          opacity: 0.5;
        }
        &__content {
          margin-top: 45px;
          h1,
          p {
            max-width: 100%;
          }
          p {
            margin: 16px 0 33px 0;
          }
        }
        &__pic {
          display: flex;
          justify-content: center;
          align-items: center;
          margin: 32px;
          .planetearth {
            img {
              @include midimg;
            }
          }
          .planetbg {
            display: none;
          }
        }
      }
    }
  }