html {
    font-size: 62.5%; // 1rem = 10px
  }
  body {
    background: var(--main-cl);
    width: 100%;
    max-width: var(--max-width-page);
    margin: auto;
    scroll-behavior: smooth;
    font-size: var(--fs-body);
    line-height: var(--lh-body);
    &.__disable-scroll {
      height: 100vh;
      overflow: hidden;
    }
    .container-fluid {
      width: 100%;
      max-width: var(--max-width-container-fluid);
      padding-right: var(--gap);
      padding-left: var(--gap);
      margin-right: auto;
      margin-left: auto;
      position: relative;
    }
    .container {
      width: 100%;
      max-width: var(--max-width-container);
      padding-right: var(--gap);
      padding-left: var(--gap);
      margin-right: auto;
      margin-left: auto;
      position: relative;
    }
    @include xs {
      .container-fluid,
      .container {
        padding-right: calc(var(--gap) + 6px);
        padding-left: calc(var(--gap) + 6px);
      }
    }
    .main {
      position: relative;
      .portfolio {
        padding-top: 125px;
      }
      .about {
        padding-top: calc(40px + var(--height-header));
      }
      .services {
        padding-bottom: 225px;
        padding-top: calc(40px + var(--height-header));
      }
      .faq {
        padding: 120px 0px;
      }
  
      @include xs {
        .services {
          padding-bottom: 80px;
        }
        .faq {
          padding: 80px 0;
        }
      }
    }
  }