@use "../core/mixins";

.attractionspage {
  overflow-x: hidden;
  min-width: var(--min-width);
  padding-top: var(--height-header);

  .attractions {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: var(--gap);
    margin: 45px 90px;

    @include mixins.sm {
      grid-template-columns: repeat(2, 1fr);
    }

    @include mixins.xs {
      padding: 15px;
      grid-template-columns: 1fr;
    }

    @include mixins.xxs {
      // grid-template-columns: 1fr;
    }

    .at-item {
      border-radius: 40px;
      padding: 20px 30px 32px 30px;
      background: var(--white-cl);

      .description {
        margin: 0px 20px;
        border-radius: 40px;

        .name {
          font-size: 3rem;
          margin: 15px 0px;
          color: var(--black-cl);
          display: grid;
          text-align: center;
        }

        a {
          color: var(--black-cl);
          display: block; // Ensure the link width matches the text width
          text-align: center;
          position: relative; // Required for the pseudo-element positioning
          @include mixins.transition(var(--duration));

          &:after {
            content: "";
            display: block;
            text-align: center;
            height: 1px;
            background: var(--black-cl);
            transform: scaleX(0);
            transform-origin: right;
            @include mixins.transition(var(--duration) transform);
            position: absolute; // Position it relative to the parent
            bottom: 0; // Align it at the bottom of the text
            left: 0; // Start from the left edge of the text
          }

          &:hover {
            &:after {
              transform: scaleX(1); // Expand the line to match the text width
              transform-origin: left; // Animate from left to right
              display: flex; // Ensure the pseudo-element is displayed
              align-items: center; // Center the line
              width: 70%; // Set the width to 100% of the text
            }
          }
        }

        .title {
          font-size: 2rem;
          margin: 15px 0px;
          color: var(--black-cl);
          text-align: center;
        }
      }

      img {
        height: 300px;
        margin: 0 auto;
        border-radius: 13%;
      }
    }
  }
}