.boardmemberspage {
  overflow-x: hidden;

  .main__content {
    display: grid;
    grid-template-columns: repeat(3, 1fr); // Two columns max
    gap: var(--gap); // Add spacing between columns and rows
    height:450px;
    margin: 150px 30px 50px 30px;
  }

  .left__container {
    justify-content: left;
    align-items: center;
    width: 30%;
    height: 100px;
    margin-bottom: 50px;
  }

  .center__container {
    justify-content: center;
    align-items: center;
    width: 30%;
    height: 100px;
    margin: bottom 50px;
  }

  .right__container {
    justify-content: right;
    align-items: center;
    width: 30%;
    height: 100px;
    margin-bottom: 50px;
  }

  .board__description {
    font-size: 1.2rem;
    line-height: 1.5;
    margin: 0 20px;
    background-color: var(--white-cl);
    height: 50px;
    width: 400px;
    border-radius: 40px;
    display: flex;
    justify-content: center;
  }

  .board__description__p {
    font-size: 1.2rem;
    line-height: 1.5;
    margin-top: 15px;
    ;
  }

  .pic__img {
    width: 150px;
    height: 300px;
    margin: 0 auto;
    display: block;
    grid-template-columns: repeat(3, 1fr); // Two columns max
    gap: var(--gap); // Add spacing between columns and rows
  }
  .main{
    margin-bottom:300px;
  }
}