@use "../core/mixins";

.contactpage {
  overflow-x: hidden;
  min-width: var(--min-width);
  padding-top: var(--height-header);
}

.address {
  background-color: var(--white-cl);
  border-radius: 20px;
  padding-left: 50px;
  padding-right: 50px;
  margin: 50px 50px auto;
}

.address__title {
  text-align: center;
  justify-content: center;
  font-weight: bold;

  @include mixins.md {
    margin: 50px 50px auto;
    text-align: center;
    justify-content: center;
    font-weight: bold;
  }

  @include mixins.sm {
    margin: 50px 50px auto;
    text-align: center;
    justify-content: center;
    font-weight: bold;
  }

  @include mixins.xs {
    margin: 50px 50px auto;
    text-align: center;
    justify-content: center;
    font-weight: bold;
  }

  @include mixins.xxs {
    margin: 50px 50px auto;
    text-align: center;
    justify-content: center;
    font-weight: bold;
  }

  @include mixins.xxxs {
    margin: 50px 50px auto;
    text-align: center;
    justify-content: center;
    font-weight: bold;
  }
}