@use "../core/mixins";

.contactpage {
  overflow-x: hidden;
  min-width: var(--min-width);
  padding-top: var(--height-header);
}
.address {
    background-color: var(--white-cl);
    margin-top: 50px;
    border-radius: 20px;
}