@use "../core/mixins";

.contactpage {
  overflow-x: hidden;
  min-width: var(--min-width);
  padding-top: var(--height-header);
}
.address {
    background-color: var(--white-cl);
    margin-top: 50px;
    border-radius: 20px;
    padding-left: 50px;
    padding-right: 50px;
    margin-left: 50px;
    margin-right: 50px;
}
.address__title{
  text-align: center;
  justify-content: center;
  font-weight: bold;
}