@use "../core/mixins";

.homepage {
  overflow-x: hidden;
  min-width: 320px;

  .open {
    @include mixins.minW(992px) {
      height: 100vh;
      position: relative;
      max-height: 980px;
      min-height: 650px;

      .open__photos {
        display: flex;
        align-items: center;
        justify-content: center;
        position: relative;
        top: 10%;
        left: 25%;
        z-index: 2;
        @include mixins.transform(translateY(-50%));

        .photos {
          position: absolute;
          width: 50vw;
        }
      }

      .open__content {
        z-index: 1;
        position: relative;
        top: 50%;
        @include mixins.transform(translateY(-50%));

        .container {
          h1 {
            max-width: 45%;
            position: relative;
            z-index: 1;
          }

          p {
            max-width: 50%;
            margin: 10px 0 42px 0;
            position: relative;
            z-index: 1;
          }
        }
      }
    }

    @include mixins.sm {
      padding-top: var(--height-header);
      position: relative;
      overflow: hidden;

      &__content {
        margin-top: 45px;

        h1,
        p {
          max-width: 100%;
          text-align: center;
          font-size: 60px;
          line-height: 70px;
        }

        p {
          margin: 16px 0 33px 0;
        }
      }

      &__photos {
        display: flex;
        justify-content: center;
        align-items: center;
        margin: 32px;

        .photos {
          @include mixins.midimg;
        }
      }
    }

    @include mixins.xs {

      h1,
      p {
        max-width: 100%;
        text-align: center;
        font-size: 40px;
        line-height: normal;
      }
    }
  }

  .logo__top {
    border-radius: 50%;
  }
}

// .dropdown-content {
//   top: 0;
//   left: 0;
//   opacity: 0;
//   padding-top: 50px;
// }

// .dropdown-content:hover {
//   top: 0;
//   left: 0;
  
//   opacity: 1;
//   background-color: var(--white-cl);
//   color: var(--black-cl);
// }
.dropdown {
  position: relative;
  display: inline-block;
  overflow:visible;
  font-family: inherit;
  font-size: var(--font-size);
  font-weight: var(--font-weight);
  line-height: var(--line-height);
  color: var(--black-cl);
  }
  
  .dropdown-button {
  background-color: var(--white-cl);
  cursor: pointer;
  text-transform: uppercase;
  }
  
  .dropdown-button i {
  margin-left: 8px;
  overflow:visible;
  }
  
  .dropdown-content {
  display: none;
  position: absolute;
  background-color: var(--white-cl);
  min-width: 160px;
  box-shadow: 0px 8px 16px rgba(0,0,0,0.2);
  z-index: 1;
  overflow:visible;
  }
  
  .dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  overflow:visible;
  }
  
  .dropdown-content a:hover {
  background-color: var(--accent-cl);
  overflow:visible;
  }
  
  .dropdown:hover .dropdown-content {
  display: block;
  overflow:visible;
  }
  
  .dropdown:hover .dropdown-button {
  background-color: var(--white-cl);
  color: var(--black-cl);
  overflow:visible;
  }