@use "../core/mixins";

.history__grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr); // Two columns max
  gap: var(--gap); // Add spacing between columns and rows
  margin: 150px 30px 50px 30px;
}
  @include mixins.sm {
    grid-template-columns: 1fr; // One column on small screens
    margin: 0; // Remove margins on small screens
    padding: 0; // Remove padding on small screens
  }