@use "../core/mixins";

.historypage {
  overflow-x: hidden;
  min-width: var(--min-width);
  padding-top: var(--height-header);

  .history__grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr); // Two columns max
    gap: var(--gap); // Add spacing between columns and rows
    margin: 50px 30px 50px 30px;
    @include mixins.md {
      grid-template-columns: 1fr; // One column on small screens
    }
  }

  .history_aboutp{
    background-color: var(--white-cl);
    display: flex;
    justify-content: center;
    margin-top: 2%;
    margin-left: 30%;
    margin-right: 25%;
    border-radius: 20px;
    padding-left: -10%;
    font-size: 50px;
    }
}