@use "../core/mixins";

.history__grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr); // Two columns max
  gap: var(--gap); // Add spacing between columns and rows
  margin-top: 100px;
  margin-bottom: 50px;
}

.history__picture {
  /* Optional: Add styles specific to individual images */
}