@use "../core/mixins";

.homepage {
  overflow-x: hidden;
  min-width: var(--min-width);
  padding-top: var(--height-header);

  .background {
    background: url('../images/bg.JPG');
    background-size: cover;

    .layer {
      background-color: rgba(35, 74, 7, 0.7);

      .open {
        @include mixins.minW(992px) {
          position: relative;
          max-height: 980px;
          min-height: 650px;
          display: grid;
          grid-template-columns: 3fr 2fr;
          align-items: center;
          padding: 0% 5%;
          column-gap: 3%;

          .open__photos {
            display: flex;
            align-items: center;
            justify-content: center;
            position: relative;
            z-index: 2;

            .photos {
              position: absolute;
              width: 100%;
            }
          }

          .open__content {
            z-index: 1;
            position: relative;
            display: flex;

            .container {
              h1 {
                position: relative;
                z-index: 1;
              }

              p {
                max-width: 100%;
                margin-top: 10px;
                position: relative;
                z-index: 1;
                color: var(--white-cl);
                text-align: left;

                &:last-child {
                  margin: 10px 0 42px;
                }
              }
            }
          }
        }

        @include mixins.sm {
          padding-top: var(--height-header);

          &__content {

            h1 {
              max-width: 100%;
              text-align: center;
              font-size: 60px;
              line-height: 70px;
            }

            p {
              max-width: 100%;
              margin-top: 10px;
              position: relative;
              z-index: 1;
              color: var(--white-cl);

              &:last-child {
                margin: 10px 0 42px;
              }
            }
          }

          &__photos {
            display: flex;
            justify-content: center;
            align-items: center;
            padding: 25px;

            .photos {
              @include mixins.midimg;
            }
          }
        }

        @include mixins.xs {

          h1 {
            max-width: 100%;
            text-align: center;
            font-size: 40px;
            line-height: normal;
          }
        }
      }



      .logo__top {
        border-radius: 50%;
      }
    }
  }


}