.rates_main{
    margin: 100px auto 0px auto;
    padding-top: 100px;
    padding-right: auto;
    padding-left: auto;
}

.rates{
    margin-top: 100px;
    margin-right: auto;
    margin-left: auto;
    padding-left: 0px;
    padding-right: 0px;
}