.rates_main{
    margin: 40px auto 10px auto;
    padding-top: 50px;
    padding-right: auto;
    padding-left: auto;
    padding-top:100px;
}

.rates{
    margin-top: 100px;
    margin-right: auto;
    margin-left: auto;
    padding-left: 0px;
    padding-right: 0px;
}
.p{
    text-align:left;
}

.img{
    max-width: 500px;
    max-height: 400px;
}