@use "../core/mixins";
.reservationspage {
  overflow-x: hidden;
  min-width: 320px;
  padding-top: var(--height-header);

  .reservations_main {
    margin: 40px auto 10px auto;
    padding-right: auto;
    padding-left: auto;
    height:1600px;
  }
}